{% extends 'base.html.twig' %}

{% block title %}Home - Welcome{% endblock %}

{% block navigation %}
    <h1>My Symfony App</h1>
{% endblock %}

{% block body %}
    <div class="welcome-section">
        <h2>Welcome to Your Symfony Application</h2>
        <p>This is a beautifully styled starter template for your Symfony project. You can customize it further based on your needs.</p>
        <a href="#" class="btn">Get Started</a>
    </div>
{% endblock %}