{% extends 'base.html.twig' %}
{% block title %}Add Comment{% endblock %}
{% block body %}
<h1>Add Comment</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Add Comment</button>
{{ form_end(form) }}
{% endblock %}
