{% extends 'base.html.twig' %}
{% block title %}Dodaj komentarz{% endblock %}
{% block body %}
<h1>Dodaj komentarz</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Dodaj komentarz</button>
{{ form_end(form) }}
{% endblock %}
